# Dependencies
/node_modules

# Build output
/dist

# Webpack Bundle Analyzer
webpack-bundle-analyzer-report.html
report.html
stats.json

# Environment variables
.env
.env.local

# IDEs and editors
.idea
.vscode